--
-- PostgreSQL database dump
--

\restrict 1RLdnuPKjxW56OQAac2TZ4r2zAQr2DXUlbHcK60lncDk7xnExoB6iSwRspAs77s

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: banks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banks (
    bank_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    bank_name text NOT NULL,
    app_name text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.banks OWNER TO postgres;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    review_id text NOT NULL,
    bank_id uuid NOT NULL,
    review_text text NOT NULL,
    rating smallint,
    review_date date,
    sentiment_label character varying(16),
    sentiment_score real,
    source text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Data for Name: banks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.banks (bank_id, bank_name, app_name, created_at) FROM stdin;
df1375a6-f4e5-4082-ad34-c50e28475e7a	Abyssinia Bank		2025-12-01 11:26:32.912256+03
8b6a5ece-5ed4-491b-ad5b-3b8fe3709dc2	Commercial Bank of Ethiopia		2025-12-01 11:26:32.912256+03
a4f43f65-4a15-4f57-aae6-e864d79bf922	Dashen Bank		2025-12-01 11:26:32.912256+03
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: banks banks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_pkey PRIMARY KEY (bank_id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (review_id);


--
-- Name: idx_reviews_bank_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_bank_id ON public.reviews USING btree (bank_id);


--
-- Name: idx_reviews_rating; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_rating ON public.reviews USING btree (rating);


--
-- Name: idx_reviews_review_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_review_date ON public.reviews USING btree (review_date);


--
-- Name: idx_reviews_sentiment_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_sentiment_label ON public.reviews USING btree (sentiment_label);


--
-- Name: reviews reviews_bank_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_bank_id_fkey FOREIGN KEY (bank_id) REFERENCES public.banks(bank_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1RLdnuPKjxW56OQAac2TZ4r2zAQr2DXUlbHcK60lncDk7xnExoB6iSwRspAs77s

